.rec.rec-arrow {
  background-color: rgb(59 130 246);
  color: white;
}

.rec.rec-arrow:hover {
  background-color: rgb(29 78 216);
  color: white;
}

.rec.rec-dot_active {
  background-color: rgb(59 130 246);
}
